/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background: #0d0d0d; /* Slightly darker black background */
    margin: 0;
    color: #e0e0e0; /* Light grey text color */
}

header {
    text-align: center;
    padding: 2rem 0;
    background: #1a1a1a; /* Darker grey background */
}

header /* styles.css */

.header-img {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent inline margin issues */
    margin: 0 auto 1rem; /* Center align the image and add margin below */
    border-radius: 15px; /* Rounded corners */
    max-height: 200px; /* Set a maximum height for the image */
}


header h1 {
    font-size: 3rem; /* Increased font size for the main title */
    margin: 0;
    margin-bottom: 1rem; /* Reduced margin */
    color: #f0f0f0; /* Lighter grey text color */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows the menu to wrap on smaller screens */
}

nav li {
    margin: 0.5rem 1rem; /* Adjusted margin for better spacing */
}

nav a {
    text-decoration: none;
    color: #CCCCCC; /* Light grey text color */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #663399; /* Royal purple background on hover */
    color: #ffffff; /* White text color on hover */
}

main {
    padding: 2rem 1rem; /* Added horizontal padding */
}

section {
    margin-bottom: 3rem;
    background: #1a1a1a; /* Darker grey background */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2.5rem; /* Increased font size for section titles */
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f0f0f0; /* Lighter grey text color */
}

article {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #1a1a1a; /* Darker grey background */
    color: #CCCCCC; /* Light grey text color */
}

/* Button Styles */
button {
    background-color: #663399; /* Royal purple background */
    color: #ffffff; /* White text color */
    border: none;
    padding: 0.75rem 1.5rem; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0.5rem; /* Margin for spacing between buttons */
}

button:hover {
    background-color: #4b0082; /* Darker shade of royal purple on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    nav a {
        font-size: 1rem;
        padding: 0.5rem 1rem; /* Reduced padding for smaller screens */
    }

    h2 {
        font-size: 2rem;
    }

    main {
        padding: 1.5rem;
    }

    section {
        padding: 1.5rem;
    }
}
